.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
  /* margin-bottom: -1px; */
}

.jumbotron img {
  width: 200px;
}

section {
  margin-top: -1px;
}

.about .content {
  text-align: justify;
}

.projects {
  background-color: #e2edff;
}

@media only screen and (max-width: 768px) {
  .about .content {
    text-align: center;
  }
}