.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  /* margin-bottom: -1px; */
}

.jumbotron img {
  width: 200px;
}

section {
  margin-top: -1px;
  padding-top: 5rem;
}

.about .content {
  text-align: justify;
}

.projects {
  background-color: #e2edff;
}

footer {
  margin-top: -2px;
}

footer p {
  margin-bottom: 0;
}

footer a:hover {
  opacity: .8;
}

@media only screen and (max-width: 768px) {
  .about .content {
    text-align: center;
  }
}